html body {
    background-image: linear-gradient(to right top, #7a737a, #917c94, #a685b0, #b98fce, #ca9aee);
    min-height: 97vh;
    margin: 5px;
}

h1 {
    background-color: rgb(255, 254, 254);
}

form {
    background: rgb(205, 184, 184);
}

#boton-oscuro:hover {
    color: #333;
    background-color: rgb(249, 224, 5);
    transition: all .3s linear;
    transform: scale(1.05);
}

/* Modo Oscuro */

body.modo-oscuro {
    background: #333;
    color: #fff;
}

form.modo-oscuro {
    background-color: #444;
    border: 1px solid #fff;
}

h1.modo-oscuro {
    color: #333;
    background-color: rgb(249, 224, 5);
}

.entrys input.modo-oscuro {
    background-color: #555;
    border: 1px solid #fff;
    color: #fff;
}

.boton button.modo-oscuro {
    background-color: #666;
    border: 2px solid #fff;
}

.boton button.modo-oscuro:hover {
    background-color: rgb(249, 224, 5);
    transition: all .3s linear;
    transform: scale(1.05);
    font-weight: bold;
}

#boton-oscuro.modo-oscuro {
    background-color: #fff;
    color: #444;
}

#boton-oscuro.modo-oscuro:hover {
    background-color: rgb(249, 224, 5);
    transition: all .3s linear;
    transform: scale(1.05);
}